<nav class="nav">
<h1> E-Commerce</h1>
<div class="nav-search" *ngIf="menuType==='default'">

    <input  (keyup)="submit($event)" type="text" placeholder="search for product" (blur)="hidesearch()" ngModel>
    <button >search</button>
<ul class="suggested-result" *ngIf="data">
  <li *ngFor="let item of data">
    <a routerLink="search/{{item.name}}">{{item.name}}</a>
  </li>
</ul>
</div>
<ul *ngIf="menuType=='default'">
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="/seller-auth">Seller</a></li>
  <li><a href="#">Login</a></li>
  <li><a href="#">Cart(0)</a></li>

</ul>
<ul *ngIf="menuType==='seller'">
  <li><h1>Welcome {{Name }}</h1></li>
  <li><a routerLink="/seller-home">Seller Home</a></li>
  <li><a routerLink="/seller-product-list">ProductList</a></li>
  <li><a href="/seller-add-product">Add Product</a></li>
  <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
</ul>
<h1></h1>
</nav>
<div style="margin: 20px;" *ngIf="data">
  <h1>Suggested Data</h1>
  <div class="product-list-wrapper" >
    <div class="row" >
      <div class="col-sm-3"  *ngFor="let item of data">
        <div class="product-item">
          <img
            src="{{item.image}}"
            alt="image">

          <div class="product-details">
            <h6 class="product-head">{{item.name}}</h6>
            <div class="product-price">
              <h6>Pirce : {{item.price}}</h6>
            </div>
            <div class="product-color">
              <h6>Color : {{item.color}}</h6>
            </div>

          </div>
          <div class="product-footer">
            <a href="">view details</a><br>
            <a href="">Add to Cart</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>


