<nav class="nav">
<h1> E-Commerce</h1>
<div class="nav-search" *ngIf="menuType==='default'">

  <input #s name="s" (keyup)="submit($event)" type="text" placeholder="search for product"  ngModel>
  <button (click)="getSearch(s.value)">search</button>

<ul class="suggested-result" *ngIf="data">
<li *ngFor="let item of data">
  <a routerLink="search/{{item.name}}">{{item.name}}</a>
</li>
</ul>


</div>
<ul *ngIf="menuType=='default'">
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="/seller-auth">Seller</a></li>
  <li><a routerLink="user-auth">Login/SignUp</a></li>
  <li><a href="#">Cart(0)</a></li>

</ul>
<ul *ngIf="menuType==='seller'">
  <li><h1>Welcome {{Name }}</h1></li>
  <li><a routerLink="/seller-home">Seller Home</a></li>
  <li><a routerLink="/seller-product-list">ProductList</a></li>
  <li><a href="/seller-add-product">Add Product</a></li>
  <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
</ul>
<h1></h1>
</nav>
