<div *ngIf="data" class="row search-item">

  <div class="col-sm-5">
    <img src="{{data.image}}" alt="image" class="product-image">
  </div>
  <div class="col-sm-7 details">
    <h3>{{data.name}}</h3>
    <p><b>PRICE : {{data.price}}</b></p>
    <p > COLOR : {{data.color}} <br><br><p [style.background-color]="data.color" class="product-colr"> </p>  </p>
    <p><span>CATEGORY : {{data.category}}</span></p>
    <p>
      <span>
        DETAILS : {{data.discription}}
      </span>
    </p>
    <button>Add to cart</button>
    <button>Buy Now</button>
    <div class="quantity " >
      <button class="form-btn" style="width: 30px;" (click)="sub()">-</button>
      <input  class="form-input" type="number" value="{{count}}" style="width: 50px;" disabled>
      <button class="form-btn" style="width: 30px;" (click)="add()">+</button>
    </div>
  </div>

    <div class="col-sm-12 product-list-wrapper" >
      <div class="row" *ngIf="data1">
        <div class="col-sm-3 "  *ngFor="let item of data1">
          <div class="product-item" >
            <img routerLink="/productdetail/{{item.id}}"
              src="{{item.image}}"
              alt="image">

            <div class="product-details">
              <h6 class="product-head">{{item.name}}</h6>
              <div class="product-price">
                <h6>Pirce : {{item.price}}</h6>
              </div>
              <div class="product-color">
                <h6>Color : {{item.color}}</h6>
              </div>

            </div>
            <div class="product-footer">
              <a routerLink="/productdetail/{{item.id}}" >view details</a><br>
              <a href="">Add to Cart</a>
            </div>
          </div>
        </div>


    </div>
    </div>

</div>
