<div *ngFor="let item of data" class="row search-item">

  <div class="col-sm-3">
    <img src="{{item.image}}" alt="image">
  </div>
  <div class="col-sm-8 details">
    <h3>{{item.name}}</h3>
    <p><b>PRICE : {{item.price}}</b></p>
    <p><b>COLOR : {{item.color}}</b></p>
    <p><span>CATEGORY : {{item.category}}</span></p>
    <p>
      <span>
        DETAILS : {{item.discription}}
      </span>
    </p>
    <div class="product-footer">
      <a routerLink="/productdetail/{{item.id}}" >view details</a><br>

    </div>
  </div>

</div>
