/* You can add global styles to this file, and also import other style files */
body{
  font-family: sans-serif;

}
.common-form{
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
color: blueviolet;
}
.form-input{
  height: 35px;
  border: 1px solid blueviolet;
  margin-bottom: 20px;
  padding-left: 10px;
  color: blueviolet;
}
.carousel-caption{
  background-color: #00000082;
  border-radius: 5px;
}
.form-btn{
  height: 35px;
  border: 1px solid blueviolet;
  cursor: pointer;
}

